@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

#header-title{
	font-family: 'Roboto' , sans-serif;
	display: inline-block;
	font-weight: 400;
	margin-left: 20px;

}

#main-header {

	border-bottom: 2px solid black;
	width: 100%;
/*	border-width: 2px;
	margin-bottom: 50px;*/

/* ADD LATER */
/*	position: fixed;*/

	background-color: rgba(255,255,255,.9);
	top: 0px;
	right: 0px;
	margin: 0px;
}

#body-div{
	margin-top: 24px;
}

.dropdown-menus{
	display: inline-block;
	float: right;
}
.algorithm-menu{
/*	display: inline-block;*/
	list-style: none;
	float: left;
	margin-top: 30px;
	margin-right: 20px;
}
.profile-menu {
/*	display: inline-block;*/
	list-style: none;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

[data-trigger = "dropdown"]{
	padding-bottom: 30px;
	font-family: "Roboto" , sans-serif;
	font-weight: 400;
}

.submenu {
	list-style: none;
	padding: 0px;
	border: 1px solid #aaa;
	background: #fff;
	margin-top: 30px;
	box-shadow: 2px 2px 15px rgba(0,0,0,.3);
	width: 250px;
/*	position: absolute;*/
/*	right: 10px;*/
	display: none;
}
.profile-submenu{
	position: absolute;
	float: right;
}
.algorithm-submenu{
	position: absolute;
	float: left;
}
.submenu.active{
	display: block;
}
/*.submenu ul{
	left:auto;
    right:0;
    margin-right:-10px;
}*/
.submenu a{ 
	text-decoration: none;
	padding: 10px 10px;
	display: block;
	color: #333;
	text-shadow: none;
	font-weight: 600;
	letter-spacing: 0px;
}

.submenu a:hover{
	background: #eee;

}





#upload-menu{
	margin-top: 20px;
	
	display: block;
}

#upload-button{
    border: none;

}
.left-menu{
	margin-left: 20px;
}
#left-menu-header{
	font-family: 'Roboto' , sans-serif;
	font-weight: 400;
}

.filter-subheader{
	font-family: 'Roboto' , sans-serif;
	font-weight: 400;
	font-size: 20px;
}

/*.dropdown-button{
	font-family: 'Roboto' , sans-serif;
	font-size: 16px
	border: none;
	padding: 5px 20px;
	text-align: center;
	font-size: 12px;
	border-radius: 4px;
	background: #D3D3D3;
	color: #696969;
	box-shadow: none;
}*/
/*.dropdown{
	font-family: 'Roboto' , sans-serif;
	font-size: 16px;
	list-style: none;
	padding: 0px;
	border: 1px solid #aaa;
	background: #fff;
	margin-top: 0px;
	box-shadow: 2px 2px 15px rgba(0,0,0,.3);
	width: 250px;
	position: absolute;
/*	right: 10px;
}*/
/*.dropdown a{
	width: 250px;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #696969;

}
.dropdown.active{
	display: block;
}*/
.additional-div{
	margin-top: 30px;
}
.additional-subheader{
	font-family: 'Roboto' , sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.submit-div{
	margin-top: 30px;
	margin-right: 30px;
	float: right;
}
.submit-button{
	float: right;
}




.right-menu{

	width: 50%;
}
.right-menu-header{
	font-family: 'Roboto' , sans-serif;
	font-weight: 400;
}
.output-box{
	width: 90%;
	height: 500px;
	border:2px solid black;
	border-radius: 10px;
}