<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="CSS/loginStyle.css">
	<title>Login</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
	    var username, pass;
	    $("#submit").click(function() {
	        username = $("#username-input").val();
	        pass = $("#password-input").val();
	        /*
	        * Kailangan ba ng pw validation at some point?
	        */
	        $.post("/login",{username:username,pass:pass}, function(data) {
	            if(data === 'done') {
	                window.location.href = "/admin";
	            }
	        });
	    });
	});
	</script>
</head>

<body>
	<div id = "login">
		<h2>Login to system</h2>
		<div id = "username">
			<input type="text" id="username-input" name="username" placeholder="Username">
		</div>

		<div id = "password">
			<input type="password" id="password-input" name="password" placeholder="Password">
		</div>

		<div id = "submit">
			<button id="submit-button" type="submit">Login</button>
		</div>

	</div>
</body>

</html>
